
div {
  box-sizing: border-box;
}

.HttpErrorPane {
  *zoom: 1;
  position: relative;
  height: 580px;
}

.HttpErrorPane {
  height: 800px;
}

.HttpErrorPane-wrapper {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 1920px;
}

.HttpErrorPane-wrapper {
  display: block;
}

.HttpErrorPane-video {
  pointer-events: none;
  display: none;
}

.HttpErrorPane-video {
  display: block;
}

.HttpErrorPane-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  top: 56%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0 20px;
  width: 100%;
}

h2, .h2, .Heading--h2, .Heading--articleHeadline, .Heading--sectionTitle {
  font-family: "Blizzard",Helvetica,Arial,sans-serif;
  font-size: 25.632px;
  font-weight: 400;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  margin-left: -0.05em;
}

h2, .h2, .Heading--h2, .Heading--articleHeadline, .Heading--sectionTitle {
  font-size: 43.938px;
}

.Heading--articleHeadline {
  font-weight: 700;
  text-transform: uppercase;
}

.HttpErrorPane--darkFont .HttpErrorPane-title, .HttpErrorPane--darkFont .HttpErrorPane-subtitle {
  color: #002650;
}

.text-base, p, li {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

.text-base, p, li {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.HttpErrorPane--darkFont .HttpErrorPane-title, .HttpErrorPane--darkFont .HttpErrorPane-subtitle {
  color: #002650;
}

.HttpErrorPane-adaptive-space-medium {
  height: 40px;
}

a, .link {
  color: #00aeff;
  transition: color 200ms;
  cursor: pointer;
  text-underline-position: under;
}

.Button {
  display: inline-block;
  position: relative;
  background-color: #006fb2;
  border: solid 1px #00aeff;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: color 200ms,background-color 200ms,border-color 200ms;
  line-height: normal;
  outline-offset: 2px;
}

.HttpErrorPane-button-show-xs {
  display: none;
}

.HttpErrorPane-button-show-xs {
  display: inline-block;
}

.Button--small {
  font-size: 15px;
  font-weight: 400;
  padding: 7px 42px;
}

.HttpErrorPane-button-hide-xs {
  display: none;
}

.space-normal {
  height: 20px;
}