.main-container {
  display: block;
}

.h1--1PK4G {
  font-size: 1.75rem;
  font-family: "Blizzard",Helvetica,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.h1--1PK4G {
  font-size: 4.25rem;
}

.uppercase {
  text-transform: uppercase;
}

.sombra {
  text-shadow: 4px 7px 17px rgb(0 0 0 / 80%);
}

.slideLeft--3vgt3 .logo--17cZ8, .slideLeft--3vgt3 .heading, .slideLeft--3vgt3 .button--bHId0 {
  -webkit-animation-name: slideLeftFadeIn--wPpYV;
  animation-name: slideLeftFadeIn--wPpYV;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

.slideLeft--3vgt3 .heading {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}

.button--3FAOb {
  display: inline-block;
  position: relative;
  background-color: #006fb2;
  border: solid 1px #00aeff;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 10px 50px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: color 200ms,background-color 200ms,border-color 200ms;
  line-height: normal;
  outline-offset: 2px;
  box-sizing: border-box;
}

.button--bHId0 {
  width: auto;
  margin-top: 24px;
}

// Fuentes

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Blizzard';
  font-style: 'normal';
  font-weight: 300;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/blt94217c59f4a5815a/5fbd95580100b746db953ff6/blizzard-300-normal.woff)
    format('woff');
}
@font-face {
  font-family: 'Blizzard';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/blt6265792bcb15f8cf/5fbd95570b0a825636795f93/blizzard-300-italic.woff)
    format('woff');
}

@font-face {
  font-family: 'Blizzard';
  font-style: 'normal';
  font-weight: 400;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/bltd282a24c6d400df1/5fbd966e21b96a46dc51a9f6/blizzard-400-normal.woff)
    format('woff');
}
@font-face {
  font-family: 'Blizzard';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/blta6017e96865fdd0d/5fbd946f21b96a46dc51a9f2/blizzard-400-italic.woff)
    format('woff');
}

@font-face {
  font-family: 'Blizzard';
  font-style: 'normal';
  font-weight: 700;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/blt61ecbf75b23a76ff/5fbd96a3a9e913483b74d58b/blizzard-700-normal.woff)
    format('woff');
}
@font-face {
  font-family: 'Blizzard';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/blt18311f4c612ce876/5fbd96a20b0a825636795f9b/blizzard-700-italic.woff)
    format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/bltd4bd32df33514a17/5fbd9b1d8acca34834e64717/openSans-300-normal.woff)
    format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/bltea0d5575e9b92a19/5fbd9b4a21b96a46dc51a9fa/openSans-400-normal.woff)
    format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/blt88507068dca91557/5fbd9c030100b746db954000/openSans-400-italic.woff)
    format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/blt24a0e58ff3000b6d/5fbd9c7346cf5a5635c5d428/openSans-600-normal.woff)
    format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://assets.blz-contentstack.com/v3/assets/blt72f16e066f85e164/blt48b417ac9e4452d4/5fbd9ec1a9e913483b74d597/openSans-700-normal.woff)
    format('woff');
}

.carousel-indicators [data-bs-target] {
  width: 100px;
  height: 6px;
  margin-bottom: -17px;
}