<nav class="Navbar is-auto">
    <div class="Navbar-container">
      <div class="Navbar-header">
        <!-- LOGO 
        <a [routerLink]="['/login']">Blizzard LOGO</a>
        <a href="https://www.blizzard.com/" class="Navbar-logo"></a>
        <div class="Navbar-logo"> <a href="https://www.blizzard.com/">
            <img src="./assets/Blizzard.png" height="50" width="50"></a></div>
        -->
        <!-- ITEMS -->
        <div class="Navbar-item">
          <a href="https://shop.blizzard.com/" role="button" aria-haspopup="true" aria-expanded="false"
            class="Navbar-item Navbar-modalToggle is-noSelect">
            <div class="Navbar-label">JUEGOS</div>
            <div class="Navbar-icono Navbar-iconoDropdown">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </div>
          </a>
          <a href="https://shop.blizzard.com/" role="button" aria-haspopup="true" aria-expanded="false"
            class="Navbar-item Navbar-modalToggle is-noSelect">
            <div class="Navbar-label">TIENDA</div>
          </a>
          <a href="https://news.blizzard.com" role="button" aria-haspopup="true" aria-expanded="false"
            class="Navbar-item Navbar-modalToggle is-noSelect">
            <div class="Navbar-label">NOTICIAS</div>
          </a>
          <a href="https://communitytournaments.blizzardesports.com/" role="button" aria-haspopup="true" aria-expanded="false"
            class="Navbar-item Navbar-modalToggle is-noSelect">
            <div class="Navbar-label">ESPORTS</div>
            <div class="Navbar-icono Navbar-iconoDropdown">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </div>
          </a>
        </div>
  
        <!-- PERFIL -->
        <div class="Navbar-perfil">
          <a href="https://support.blizzard.com/" role="button" aria-haspopup="true" aria-expanded="false"
            class="Navbar-item Navbar-modalToggle is-noSelect">
            <div class="Navbar-label">Asistencia</div>
          </a>
          <a [routerLink]="['/cuenta']" role="button" aria-haspopup="true" aria-expanded="false"
            class="Navbar-item Navbar-modalToggle is-noSelect">
            <div class="Navbar-label">Mi cuenta</div>
            <div class="Navbar-icono Navbar-iconoDropdown">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </nav>
