<div class="container-fluid" style="background-color: #23836F;">

    <!--TITLE-->
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card text-white bg-dark" style="margin-top: 11%; margin-bottom: 4%;">
                <div class="card-body">
                    <h1 class="card-title"
                        style="font-weight: 800; font-size:3cm; color: #FFD71F; text-shadow: 4px 4px #F53227">¡OOPS!</h1>
                </div>
            </div>
        </div>
    </div>

    <!--LOGIN-->
    <div class="container" style="margin-bottom: 10px;">
        <div class="d-flex justify-content-center">
            <h1>ERROR 404 - Rercurso no Encontrado</h1>
        </div>
    </div>

    <div class="container" style="height: 283px;">
    </div>


</div>