<div class="container-fluid" style="background-color: #23836F;">

    <!--TITLE-->
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card text-white bg-dark" style="margin-top: 11%; margin-bottom: 4%;">
                <div class="card-body">
                    <h1 class="card-title"
                        style="font-weight: 800; font-size:3cm; color: #FFD71F; text-shadow: 4px 4px #F53227">CONNECT 4
                        ™</h1>
                </div>
            </div>
        </div>
    </div>

    <!--LOGIN-->
    <div class="container" style="margin-bottom: 20%;">
        <form class="form-inline">
            <div class="row">
                <div class="col-md-3" style="align-self: center">
                </div>
                <div class="col-md-5" style="align-self: center">
                    <input class="form-control" type="text" name="concesionario" aria-describedby="buscarConcesionario" placeholder="Nickname">
                </div>
                <div class="col-md-2" style="align-self: center">
                    <button (click)="eventoConexion()" type="button" class="btn btn-secondary" style="padding: 5px 7px">
                        Jugar
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="container" style="height:auto">
        <div class="d-flex justify-content-center" style="color:white">
            David E. Morales M. | Aplicaciones Web Avanzadas 2022
        </div>
    </div>


</div>