
.card{
    border-radius: 0.75rem
}

.text-button{
    padding-left: 100px; 
    padding-right: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    font-weight: 800; 
    text-shadow: 1.5px 1.5px black;
}

// *{
//     border: solid 1px red
// }