<div class="carousel-inner">
    <div *ngFor="let slide of arregloSlides; let i = index">
        <div class="carousel-item image-options">
            <img
              src="{{slide.picture}}"
              class="d-block w-100">
            <div class="carousel-caption2 d-none d-md-block ">
              <div class="responsive--1p_ok contentWrapper--22UAC">
                <h1 class="h2-juegos">Crea mundos</h1>
                <h2 class="subtitle--2Y9kr h3--HMm2V">Infórmate más sobre las oportunidades de trabajo en Blizzard
                </h2>
                <a class="button-align button-options"
                  href="https://careers.blizzard.com/?blzcmp=hp_explorecta_careers">
                  Descubre oportunidades
                </a>
              </div>
            </div>
          </div>
    </div>
</div>