<body>
    <main class="main-container" id="main">
        <div class="Page-ES">
          <div id="react-stub">
            <section>
                <div class="container--1orox background--3WdVC" style="background-image: url(&quot;https://images.blz-contentstack.com/v3/assets/blte0bbc3c063f45866/blt201ded1eb75e50e4/5f3b17890cfe4555ebb3a342/Contact_Mobile_Desktop.webp?auto=webp&amp;format=pjpg&quot;);">
                <div class="header-contact">
                  <h1 class="heading-contact h1-title">CONTACTO</h1>
                    <!--Componentes-->
                    <app-cards></app-cards>
                </div>
                </div>
            </section>
          </div>
        </div>
      </main>
</body>
<router-outlet></router-outlet>