<body>
    <main class="main-container" id="main">
        <div class="Page-ES">
          <div id="react-stub">
            <section>
                <div class="container-contact background-contact" style="background-image: url(&quot;https://images.blz-contentstack.com/v3/assets/blte0bbc3c063f45866/blt201ded1eb75e50e4/5f3b17890cfe4555ebb3a342/Contact_Mobile_Desktop.webp?auto=webp&amp;format=pjpg&quot;);">
                <div class="header-contact">
                  <h1 class="heading-contact h1-title">CONTACTO</h1>
                    <!--Componentes Cards-->
                    <app-cards></app-cards>
                </div>
                </div>
            </section>
            <div class="container-social footer-social"
            style="background-image: url(&quot;https://images.blz-contentstack.com/v3/assets/blte0bbc3c063f45866/blt4b423ad926af48cc/5f2c7a0eb7dcf5546ea922a5/SocialFooter_BG.webp?auto=webp&amp;format=pjpg&quot;);">
            <h2 class="h2-social">¡Mantente al día!</h2>
                <!-- Componentes Socials-->
                <app-socials></app-socials>
        </div>
          </div>
        </div>
      </main>
</body>
<router-outlet></router-outlet>