// * {
//   border: solid red 1px;
// }

// Tablero
.game-board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 500px;
  margin: 0px 0 35px;
  width: 500px;
}

// Celdas
.cell {
  align-items: center;
  background: #4370f1;
  display: flex;
  height: 75px;
  justify-content: center;
  width: 75px;
}

.cell::after {
  background: #23836f;
  border-radius: 50%;
  border: 3px solid black;
  content: '';
  cursor: pointer;
  height: 50px;
  width: 50px;
}

// Celda seleccionada
.cell:not(.row-top).red::after {
  background: red;
}
.cell:not(.row-top).yellow::after {
  background: yellow;
}

// Celda ganadora
.cell:not(.row-top).red.win {
  background: red;
}

.cell:not(.row-top).yellow.win {
  background: yellow;
}

// Celdas superiores
.cell.row-top {
  background: #23836f;
}

.cell.row-top::after {
  border: none;
}

.cell.row-top.red::after {
  background: red;
  border: 3px solid black;
}

.cell.row-top.yellow::after {
  background: yellow;
  border: 3px solid black;
}

// Bordes del Tablero
.left-border {
  border-left: 3px solid black;
}

.top-border {
  border-top: 3px solid black;
}

.right-border {
  border-right: 3px solid black;
}

.bottom-border {
  border-bottom: 3px solid black;
}

.left-border.top-border {
  border-radius: 10px 0 0 0;
}

.right-border.top-border {
  border-radius: 0 10px 0 0;
}

.right-border.bottom-border {
  border-radius: 0 0 10px 0;
}

.left-border.bottom-border {
  border-radius: 0 0 0 10px;
}

// Footer
.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-bottom: 1rem;
}

// Botones
// Reset
.reset {
  background-color: #FFD71F;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  text-transform: uppercase;
}

.reset:hover {
  background-color: #e6c11d;
}

.reset:active {
  background-color: #f1cb22;
}

// Abandonar Partida
.abandon {
  background-color: #343a40;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  text-transform: uppercase;
}

.abandon:hover {
  background-color: #212529;
}

.abandon:active {
  background-color: #343a40;
}

// Estado del Juego
.card-body {
  flex: 1 1 auto;
  padding: 0.5rem 0.5rem;
}
